.cssanimations.csstransforms.csstransitions {


	@mixin transition( $transition... ) {
		$_types: '', '-webkit-', '-moz-', '-o-', '-ms-';

		@each $type in $_types {
			#{$type}transition: _generate-transitions-fields( $type, $transition... ) ;
		}
	}

	@function _generate-transitions-fields( $type, $transition... ) {
		$_return: '';
		@each $tr in $transition {
			@if $_return != '' {
				$_return: $_return + ', ';
			}
			$_return: $_return + _generate-transitions( $tr, $type );
		}

		@return #{$_return};
	}

	@function _generate-transitions( $transition, $type ) {
		@return nth($transition, 1) #{$type}nth($transition, 2) nth($transition, 3);
	}





	.-mx-scaleIn {
		@include transform( scale(0) );
		@include opacity( 0 );
		@include transition( 0.3s transform cubic-bezier(1.000, -0.530, 0.405, 1.425), 0.3s opacity cubic-bezier(1.000, -0.530, 0.405, 1.425) );

		&.-mx-start {
			@include transform( scale(1) );
			@include opacity( 1!important );
		}
	}


}

.no-cssanimations,
.no-csstransforms,
.no-csstransitions {
	.-mx-scaleIn {
		display: none;
		@include opacity( 0 );

		&.-mx-start {
			display: block!important;
			@include opacity( 1 );
		}
	}
}