@mixin clearfix {
	*zoom: 1;
	&:before,
	&:after
	{
		display: table;
		content: " ";
		line-height: 0;
	}
	&:after
	{
		clear: both;
	}
}

@mixin box-sizing( $box-sizing ) {
	-webkit-box-sizing: $box-sizing;
	-moz-box-sizing: $box-sizing;
	-ms-box-sizing: $box-sizing;
	-o-box-sizing: $box-sizing;
	box-sizing: $box-sizing;
}