$__inheritance: object;
$__before-object: '';
$__object: this;
$__after-object: '';

button,
.#{$object__button},
input[type="button"] {
	@extend %__object;

	// font-family: $object__button-font-family;
	// letter-spacing: 1px;
	// font-weight: $object__button-font-weight;
	text-decoration: none;
	cursor: pointer;
	border-width: $object__button-border-width;
	border-style: solid;
	@include border-radius( $object__button-border-radius );
	@include box-shadow( $object__button-shadow );


	@include set_modificator($mod__size, padding-object, font-size, line-height);
	@include set_modificator($mod__status, color-invert, border-color, gradient-vertical, text-shadow);
}

button,
.#{$object__button},
input[type="button"] {
	

	&:hover {
		text-decoration: none;

		$__inheritance: object;
		$__before-object: '';
		$__object: this;
		$__after-object: '';
		@include set_modificator(exclude-items($mod__status,$mod__status__disabled, default), gradient-vertical-darken);
		@include set_modificator(only-items($mod__status, default, $mod__status__disabled), background-color-darken);
		@include box-shadow( $object__button-hover-shadow );
	}


	&:active,
	&.#{$mod__active} {
		$__inheritance: object;
		$__before-object: '';
		$__object: this;
		$__after-object: '';
		@include set_modificator(exclude-items($mod__status,$mod__status__disabled), background-color-darkener);
		@include box-shadow( $object__button-active-shadow );
	}

	&.-#{$mod__status__disabled}-,
	&:hover.-#{$mod__status__disabled}-,
	&:active.-#{$mod__status__disabled}-,
	&.#{$mod__active}.-#{$mod__status__disabled}- {
		@include box-shadow(none);
		text-decoration: none!important;
		cursor: default;
	}

	&.#{$mod__loading} {
		@include set_modificator($mod__status, loading-dark);

		$_statuses: append-list(exclude-items($mod__status, disabled, default), '&.-','-', comma);
		#{$_statuses} {
			@include set_modificator($mod__status, loading);
		}
	}

	&.-#{$mod__status__unstyled}-,
	&:hover.-#{$mod__status__unstyled}-,
	&:active.-#{$mod__status__unstyled}-,
	&.#{$mod__active}.-#{$mod__status__unstyled}-,
	&.-#{$mod__status__disabled}-.-#{$mod__status__unstyled}- {
		@include box-shadow(none);
		background-color: transparent!important;
		background-image: none!important;
		filter: none!important;
		border-color: transparent!important;
		@include text-shadow( none );
		@include set_modificator($mod__status, color);
	}

	&.-#{$mod__status__unstyled}- {
		text-decoration: underline;
	}

	&:hover.-#{$mod__status__unstyled}-,
	&:active.-#{$mod__status__unstyled}-,
	&.#{$mod__active}.-#{$mod__status__unstyled}- {
		text-decoration: none;
	}


	$__inheritance: object;
	$__before-object: '';
	$__object: this;
	$__after-object: '';

	&.#{$mod__unclickable},
	&.#{$mod__unclickable}:hover,
	&.#{$mod__unclickable}:active {
		@include set_modificator($mod__status, color-invert, border-color, gradient-vertical, text-shadow);
		@include box-shadow( $object__button-shadow );
		cursor: default;
	}

}