$_input-list: 'input[type="text"]' 'input[type="password"]' 'input[type="datetime"]' 'input[type="datetime-local"]' 'input[type="date"]' 'input[type="month"]' 'input[type="time"]' 'input[type="week"]' 'input[type="number"]' 'input[type="email"]' 'input[type="url"]' 'input[type="search"]' 'input[type="tel"]' 'input[type="color"]';

@function _append-list( $list, $appendix-before:'', $appendix-after:'' ) {
	$_result: '';
	@each $item in $list {
		$_concat: #{$appendix-before}#{$item}#{$appendix-after};
		@if $_result != '' {
			$_result: $_result + ',' + $_concat;
		}
		@else {
			$_result: $_concat;
		}
		
	}
	@return $_result;
}

.#{$object__form} {
	.#{$object__form__field} {
		@extend %__object;

		position: relative;
		border-width: $object__form__field-border-width;
		border-style: solid;
		@include border-radius( 3px );

		@include set_modificator($mod__status, border-color-lighten);

		.#{$object__form__field__placeholder} {
			@extend %__object;
			position: absolute;
			top:  $object__form__input-border-width;
			left: $object__form__input-border-width;
			opacity: .4;
		}
	}

	.#{$object__form__field__help} {
		display: block;
		font-size: 85%;
		color: $object__form__field__help-color;
		margin-top: 2px;
	}

	input[type="text"],
	input[type="password"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="date"],
	input[type="month"],
	input[type="time"],
	input[type="week"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="search"],
	input[type="tel"],
	input[type="color"] {
		@extend %__object;

		border-width: $object__form__input-border-width;
		border-style: solid;

		@include set_modificator($mod__status, border-color);
		@include set_modificator($mod__size, line-height, font-size, padding);
	}

	label {
		display: inline-block;
		position: relative;
		top:2px;
	}

	// .#{$object__form__group} {
	// 	& > label {
	// 		display: block;
	// 	}
	// }

	&.#{$mod__vertical} {
		& > label {
			display: block;
			top: 0;
			margin-bottom: 4px;
		}

		& > input + label,
		& > .#{$object__form__field} + label,
		& > .#{$object__form__field__help} + label,
		& > .#{$object__form__group} + label {
			margin-top: 10px;
		}
	}

	&.#{$mod__horizontal} {
		.#{$object__form__row} {
			position: relative;

			& > label {
				width: 160px;
				text-align: right;
				position: absolute;
				top: 10px;
			}

			& > .#{$object__form__field},
			& > .#{$object__form__group},
			& > .#{$object__form__field__help} {
				position: relative;
				left: 180px;
			}

			& + .#{$object__form__row} {
				margin-top: 10px;
			}
		}
	}

}

// Create	 .-form-field.-modificatorSize-
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}';
	$__after-object: '';
	@include set_modificator($mod__size, line-height);
}

// Create	 .-form-field.-modificatorSize- .placeholder
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}';
	$__after-object: ' > .#{$object__form__field__placeholder}';
	@include set_modificator($mod__size, line-height, padding, font-size);
}

// Create	 .-form-field.-modificatorSize- input
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}';
	$__after-object: $_input-list;
	@include set_modificator($mod__size, line-height, font-size, padding);
}

// Create	 .-form-field input.-modificator-:hover
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: _append-list( $_input-list, '', ':hover' );
	$__after-object: '';
	@include set_modificator($mod__status, border-color-darken);
}

// Create	 .-form-field input.-modificator-:focus
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: _append-list( $_input-list, '', ':focus' );
	$__after-object: '';
	@include set_modificator($mod__status, outline);
}

// Create	 .-form-field.-modificator- input
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}';
	$__after-object: _append-list( $_input-list, ' > ', '' );
	@include set_modificator($mod__status, border-color);
}

// Create	 .-form-field:hover.-modificator- input
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}:hover';
	$__after-object: _append-list( $_input-list, ' > ', '' );
	@include set_modificator($mod__status, border-color-darken);
}

// Create	 .-form-field.-modificator- input:focus;
.#{$object__form} {
	$__inheritance: object;
	$__before-object: '';
	$__object: '.#{$object__form__field}';
	$__after-object: _append-list( $_input-list, ' > ', ':focus' );
	@include set_modificator($mod__status, outline);
}