@include init_modificator-size($object__group);

$__inheritance: object;
$__before-object: '';
$__object: this;
$__after-object: '';

.#{$object__group} {
	display: inline-block;
	font-size: 0;

	.#{$object__group__appendix} {
		@extend %__object;

		border-width: $object__group__appendix-border-width;
		border-style: solid;

		@include set_modificator($mod__size, padding-object, font-size, line-height);
		@include set_modificator($mod__status, color-invert, border-color, background-color-lightener, text-shadow);
	}

	& > * {
		@include border-radius( 0px );
	}

	& > button,
	& > .#{$object__button},
	& > input[type="button"],
	& > .#{$object__group__appendix},
	& > input {

		& + button,
		& + .#{$object__button},
		& + input[type="button"],
		& + .#{$object__group__appendix},
		& + input {
			margin-left: -$object__button-border-width;
		}

		& + input {
			margin-left: -$object__form__input-border-width;
		}

		&:first-child {
			@include border-radius( $object__button-border-radius 0 0 $object__button-border-radius );
		}

		&:last-child {
			@include border-radius( 0 $object__button-border-radius $object__button-border-radius 0 );
		}
	}

	&.-#{$mod__status__disabled}- > * {
		@include box-shadow( none!important );
		cursor: default;
	}

	&.#{$mod__vertical} {
		button,
		.#{$object__button}, 
		input[type="button"],
		.#{$object__group__appendix},
		input {
			display: block;
			margin-left:0;

			&:first-child {
				@include border-radius( $object__button-border-radius $object__button-border-radius 0 0 );
			}

			&:last-child {
				@include border-radius( 0 0 $object__button-border-radius $object__button-border-radius );
			}
		}
	}

	.#{$mod__active},
	:active {
		position: relative;
		z-index: 0;
	}

	:not(:active),
	:not(.#{$mod__active}),
	:not(.-#{$mod__status__disabled}-) {
		position: relative;
		z-index: 1;
	}

	.-#{$mod__status__disabled}- {
		z-index: -1;
	}

}


$__inheritance: object;
$__before-object: '.#{$object__group}.#{$mod__loading}';
$__object:'button' 'input[type="button"]' '.#{$object__button}';
$__after-object: '';
@include set_modificator($mod__status, loading-dark);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: $_input-list;
@include set_modificator($mod__status, border-color);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: append-list( $_input-list, '', ':hover' );
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), border-color-darken);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: append-list( $_input-list, '', ':focus' );
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), outline);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: '.#{$object__group__appendix}';
@include set_modificator($mod__status, color-invert, border-color, background-color-lightener, text-shadow);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button' 'input[type="button"]' '.#{$object__button}';
@include set_modificator($mod__status, color-invert, border-color, gradient-vertical, text-shadow);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button:hover' 'input[type="button"]:hover' '.#{$object__button}:hover';
@include set_modificator($mod__status, background-color-darken);


$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button:active' 'button.#{$mod__active}' 'input[type="button"]:active' 'input[type="button"].#{$mod__active}' '.#{$object__button}:active' '.#{$object__button}.#{$mod__active}';
@include set_modificator(exclude-items($mod__status,$mod__status__disabled), background-color-darkener);


$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: 'button' 'input[type="button"]' '.#{$object__button}' '.#{$object__group__appendix}';
@include set_modificator($mod__size, padding-object, font-size, line-height);

$__inheritance: $object__group;
$__before-object: '';
$__object: '.#{$object__group}';
$__after-object: $_input-list;
@include set_modificator($mod__size, input-line-height, font-size, input-padding);