@include init_modificator-status($object__menu);

$__inheritance: object;
$__before-object: '';
$__object: this;
$__after-object: '';

.#{$object__menu} {
	margin: 0;

	li {
		display: block;

		a {
			@extend %__object;
			display: block;
			cursor: pointer;
		}
	}
}

.#{$object__dropdown} .#{$object__menu} {
	margin: $object__dropdown-border-radius 0;

	& + .#{$object__menu} {
		margin-top: -$object__dropdown-border-radius;
	}
}

$__inheritance: object;
$__before-object: '.#{$object__menu} >';
$__object: 'li';
$__after-object: '> a';
@include set_modificator($mod__size, padding-object, font-size, line-height);
$__inheritance: $object__menu;
@include set_modificator($mod__status, color);


$__inheritance: $object__menu;
$__before-object: '.#{$object__menu} >';
$__object: 'li';
$__after-object: '> a:hover';
@include set_modificator($mod__status, background-color-darken, color-invert, text-shadow);

$__inheritance: $object__menu;
$__before-object: '.#{$object__menu} >';
$__object: 'li.#{$mod__active}';
$__after-object: '> a';
@include set_modificator($mod__status, background-color-darkener, color-invert, text-shadow);

$__inheritance: $object__menu;
$__before-object: '.#{$object__menu} >';
$__object: 'li';
$__after-object: '> a:active';
@include set_modificator($mod__status, background-color-darkener, color-invert, text-shadow);



$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__menu}';
$__after-object: '> li > a';
@include set_modificator($mod__size, padding-object, font-size, line-height);
@include set_modificator($mod__status, color);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__menu}';
$__after-object: 'li a:hover';
@include set_modificator($mod__status, background-color-darken, color-invert, text-shadow);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__menu}';
$__after-object: '> li.#{$mod__active} > a';
@include set_modificator($mod__status, background-color-darkener, color-invert, text-shadow);

$__inheritance: object;
$__before-object: '';
$__object: '.#{$object__menu}';
$__after-object: '> li > a:active';
@include set_modificator($mod__status, background-color-darkener, color-invert, text-shadow);