@include init_modificator-status($object__table);

.#{$object__table} {
	width: 100%;
	// border-collapse: collapse;
	border-spacing: 0;

	th {
		text-align: left;
		$__inheritance: object;
		$__before-object: '';
		$__object: this;
		$__after-object: '';

		@include set_modificator($mod__size, padding-object, font-size, line-height);
	}
	
	td {
		border-top-width: $object__table-border-width;
		border-top-style: solid;

	}

	&.#{$mod__bordered} {
		td {
			border-width: $object__table-border-width;
			border-style: solid;
		}
	}

	&.#{$mod__vertical} {
		td {
			border-top-width: 0;
			border-left-width: $object__table-border-width;
			border-left-style: solid;

			&:first-child {
				border-left-width: 0;
			}
		}
	}

	&.-#{$mod__status__unstyled}-,
	&.-#{$mod__status__unstyled}- td {
		border-width: 0!important;
	}

	

	// &.#{$mod__striped} {
	// 	tbody {
	// 		tr:nth-child(odd) {
	// 			$__inheritance: object;
	// 			$__before-object: '';
	// 			$__object: this;
	// 			$__after-object: ' > td';
	// 			@include set_modificator($mod__status, color-invert, background-color);
				
	// 		}
	// 	}
	// }

	// &.#{$mod__hovered} {
	// 	tbody {
	// 		tr:hover {
	// 			$__inheritance: object;
	// 			$__before-object: '';
	// 			$__object: this;
	// 			$__after-object: ' > td';
	// 			@include set_modificator($mod__status, color-invert, background-color-lighten);
				
	// 		}
	// 	}
	// }

	// 

	// tr {
	// 	$__inheritance: object;

	// 	$__before-object: '';
	// 	$__object: this;
	// 	$__after-object: 'td';

	// 	// @include set_modificator($mod__size, padding-object, font-size, line-height);
	// 	@include set_modificator(exclude-items($mod__status, default),color-invert, background-color, border-color);
	// }
}


$__inheritance: object;
$__before-object: '.#{$object__table} tr';
$__object: 'td';
$__after-object: '';

@include set_modificator(exclude-items($mod__status, default), background-color, border-color-darken, color-invert);
// @include set_modificator(only-items($mod__status, default, $mod__status__unstyled), border-color);


$__inheritance: object;
$__before-object: '.#{$object__table}';
$__object: 'tr';
$__after-object: 'td';

@include set_modificator($mod__size, padding-object, font-size, line-height);
@include set_modificator(exclude-items($mod__status, default), color-invert, background-color);
@include set_modificator($mod__status, border-color);


$__inheritance: object;
$__before-object: '.#{$object__table}.#{$mod__striped}';
$__object: 'tr:nth-child(odd)';
$__after-object: 'td';

@include set_modificator($mod__status, color-invert, background-color);


$__inheritance: object;
$__before-object: '.#{$object__table}.#{$mod__hovered}';
$__object: 'tr:hover';
$__after-object: 'td';

@include set_modificator($mod__status, color-invert, background-color-darken);


$__inheritance: $object__table;
$__before-object: '.#{$object__table}';
$__object: 'tr';
$__after-object: 'td';

@include set_modificator(exclude-items($mod__status, default), background-color, border-color-darken);
@include set_modificator(only-items($mod__status, default, $mod__status__unstyled), border-color);



$__inheritance: $object__table;
$__before-object: '.#{$object__table}';
$__object: 'tr.#{$mod__loading}';
$__after-object: 'td';

@include set_modificator($mod__status, loading);


$__inheritance: $object__table;
$__before-object: '';
$__object: '.#{$object__table}';
$__after-object: 'td';

@include set_modificator(exclude-items($mod__status, default), background-color, border-color, color-invert);