@mixin init_modificator-size{
	
	@each $size in $mod__size {
		$num: index( $mod__size, $size );

		%#{$__inheritance}-size-#{$size}-line-height {
			line-height: $theme__line-height + nth($mod__size-delta, $num);
		}

		%#{$__inheritance}-size-#{$size}-font-size {
			$_font-size: 10px;
			@if ($theme__font-size + nth($mod__size-delta, $num)) > 10 {
				@if $size == default {
					$_font-size: $theme__font-size + nth($mod__size-delta, $num) - 2;
				}
				@else {
					$_font-size: $theme__font-size + nth($mod__size-delta, $num);
				}
			}
			font-size: $_font-size;
		}

		%#{$__inheritance}-size-#{$size}-padding {
			$_vertical: 3px;
			$_horizontal: 4px;
			
			@if (2px + nth($mod__size-delta, $num)) > 0 {
				$_vertical: 2px + nth($mod__size-delta, $num);
			}

			@if (4px + nth($mod__size-delta, $num)) > 0 {
				$_horizontal: 4px + nth($mod__size-delta, $num);
			}

			padding: $_vertical $_horizontal;
		}

		%#{$__inheritance}-size-#{$size}-input-padding {
			$_vertical: 3px;
			$_horizontal: 4px;
			
			@if (2px + nth($mod__size-delta, $num)) > 0 {
				$_vertical: 2px + nth($mod__size-delta, $num);
			}

			@if (4px + nth($mod__size-delta, $num)) > 0 {
				$_horizontal: 4px + nth($mod__size-delta, $num);
			}

			padding: $_vertical $_horizontal;

			// @-moz-document url-prefix() {
			// 	padding: $_vertical + 1 $_horizontal $_vertical;
			// }
		}

		%#{$__inheritance}-size-#{$size}-padding-object {
			$_vertical: 3px;
			$_horizontal: 4px;
			
			@if (2px + nth($mod__size-delta, $num)) > 0 {
				$_vertical: 2px + nth($mod__size-delta, $num);
			}

			@if (4px + nth($mod__size-delta, $num)) > 0 {
				$_horizontal: 7px + nth($mod__size-delta, $num);
			}

			padding: $_vertical $_horizontal;
		}
	}

}

// @mixin init_modificator-status{
	
// 	@each $status in $mod__status {
// 		$num: index( $mod__status, $status );

// 		%#{$__inheritance}-status-#{$status}-color {
// 			color: nth($mod__status-color, $num);
// 		}

// 		%#{$__inheritance}-status-#{$status}-border-color {
// 			border-color: nth($mod__status-border-color, $num);
// 		}

// 		%#{$__inheritance}-status-#{$status}-border-color-darken {
// 			border-color: nth($mod__status-border-color-darken, $num);
// 		}

// 		%#{$__inheritance}-status-#{$status}-border-color-lighten {
// 			border-color: nth($mod__status-border-color-lighten, $num);
// 		}

// 		%#{$__inheritance}-status-#{$status}-outline {
// 			@include box-shadow(#{nth($mod__status-outline, $num)});
// 		}
// 	}

// }